# Air Quality Control
#### India 2020

https://data.gov.in/resources/real-time-air-quality-index-various-locations/api

In [10]:
# Used for fetching Data from the source
import requests

# Used for Data Wrangling & Analysis Task 
import pandas as pd

## Fetching data ...

In [30]:
print("Data Fetch - Initiated")
listOfRecords = []
airQualityRecords = []
for i in range(0, 1500, 10):
  responseObject = requests.get('https://api.data.gov.in/resource/3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&offset={}&limit=10'.format(i))
  if responseObject.status_code == 200:
    listOfRecords.append(responseObject.json())
    airQualityRecords.extend(responseObject.json()["records"])
  else:
    break
print("Data Fetch - Complete")

Fetching data
Data Fetch Complete

In [31]:
print( "No of Requests Made :: {} \t Total Data Points Fetched:: {} \t ".format(len(listOfRecords), len(airQualityRecords)) )

No of Requests Made :: 150 	 Total Data Points Fetched:: 1416

In [32]:
# Storing data into a structured format
dfData = pd.DataFrame(airQualityRecords)

In [59]:
# Looking at its summary 
dfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1416 non-null   object
 1   country         1416 non-null   object
 2   state           1416 non-null   object
 3   city            1416 non-null   object
 4   station         1416 non-null   object
 5   last_update     1416 non-null   object
 6   pollutant_id    1416 non-null   object
 7   pollutant_min   1416 non-null   object
 8   pollutant_max   1416 non-null   object
 9   pollutant_avg   1416 non-null   object
 10  pollutant_unit  1416 non-null   object
dtypes: object(11)
memory usage: 121.8+ KB

In [33]:
# Exploring the initial records
dfData.head(2)

  id country           state  ... pollutant_max pollutant_avg pollutant_unit
0  1   India  Andhra_Pradesh  ...            40            21             NA
1  2   India  Andhra_Pradesh  ...            45            25             NA

[2 rows x 11 columns]

In [125]:
# Checking for irregular data
len(dfData[ (dfData.pollutant_min == 'NA') | (dfData.pollutant_max == 'NA') | (dfData.pollutant_avg == 'NA')])

112

In [71]:
cleanDf = dfData[ ~(dfData.pollutant_min == 'NA') | ~(dfData.pollutant_max == 'NA') | ~(dfData.pollutant_avg == 'NA')].copy()

In [82]:
cleanDf.shape

(1304, 11)

In [79]:
cleanDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1304 entries, 0 to 1415
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1304 non-null   object
 1   country         1304 non-null   object
 2   state           1304 non-null   object
 3   city            1304 non-null   object
 4   station         1304 non-null   object
 5   last_update     1304 non-null   object
 6   pollutant_id    1304 non-null   object
 7   pollutant_min   1304 non-null   object
 8   pollutant_max   1304 non-null   object
 9   pollutant_avg   1304 non-null   object
 10  pollutant_unit  1304 non-null   object
dtypes: object(11)
memory usage: 122.2+ KB

In [80]:
# Handling numerical data
cleanDf['pollutant_min'] = cleanDf['pollutant_min'].astype(float)
cleanDf['pollutant_max'] = cleanDf['pollutant_max'].astype(float)
cleanDf['pollutant_avg'] = cleanDf['pollutant_avg'].astype(float)

In [81]:
cleanDf.city.nunique()

119

### Story Telling

In [131]:
print("Data Comprises of :: -\n\n ")

print("No of Countries :: {}".format( cleanDf["country"].nunique() ) )
print("\t Countries :: {}".format( cleanDf["country"].unique() ) )
print("No of States :: {}".format( cleanDf["state"].nunique() ) )
print("\t States :: {}".format( cleanDf["state"].unique() ) )

print("No of Cities :: {}".format( cleanDf["city"].nunique() ) )
print("\t Cities :: {}".format( cleanDf["city"].unique() ) )
print("No of Station :: {}".format( cleanDf["station"].nunique() ) )
# print("\t Station :: {}".format( cleanDf["station"].unique() ) ) // list is long

Data Comprises of :: -


No of Countries :: 1
	 Countries :: ['India']
No of States :: 20
	 States :: ['Andhra_Pradesh' 'Bihar' 'Assam' 'Chandigarh' 'Delhi' 'Gujarat' 'Haryana'
 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Meghalaya'
 'Nagaland' 'Odisha' 'Punjab' 'Rajasthan' 'TamilNadu' 'Telangana'
 'Uttar_Pradesh' 'West_Bengal']
No of Cities :: 119
	 Cities :: ['Amaravati' 'Rajamahendravaram' 'Tirupati' 'Hajipur' 'Muzaffarpur'
 'Patna' 'Guwahati' 'Gaya' 'Chandigarh' 'Delhi' 'Ahmedabad' 'Ankleshwar'
 'Gandhinagar' 'Vapi' 'Vatva' 'Ambala' 'Bahadurgarh' 'Ballabgarh'
 'Bhiwani' 'Charkhi Dadri' 'Dharuhera' 'Faridabad' 'Fatehabad' 'Gurugram'
 'Hisar' 'Jind' 'Kaithal' 'Karnal' 'Kurukshetra' 'Mandikhera' 'Manesar'
 'Narnaul' 'Palwal' 'Panchkula' 'Panipat' 'Rohtak' 'Sirsa' 'Sonipat'
 'Yamunanagar' 'Bengaluru' 'Chikkaballapur' 'Chikkamagaluru' 'Hubballi'
 'Kalaburgi' 'Mysuru' 'Ramanagara' 'Vijayapura' 'Yadgir' 'Eloor' 'Kannur'
 'Kollam' 'Kozhikode' 'Thiruvananthapuram' 'Thrissur' 'Bhopal' 'Damoh'
 'Dewas' 'Gwalior' 'Indore' 'Jabalpur' 'Katni' 'Maihar' 'Mandideep'
 'Pithampur' 'Ratlam' 'Sagar' 'Satna' 'Singrauli' 'Ujjain' 'Aurangabad'
 'Chandrapur' 'Kalyan' 'Mumbai' 'Nagpur' 'Nashik' 'Navi Mumbai' 'Pune'
 'Solapur' 'Thane' 'Shillong' 'Kohima' 'Brajrajnagar' 'Talcher' 'Amritsar'
 'Bathinda' 'Jalandhar' 'Khanna' 'Ludhiana' 'Mandi Gobindgarh' 'Patiala'
 'Rupnagar' 'Ajmer' 'Alwar' 'Bhiwadi' 'Jaipur' 'Jodhpur' 'Kota' 'Pali'
 'Udaipur' 'Chennai' 'Coimbatore' 'Hyderabad' 'Agra' 'Baghpat'
 'Bulandshahr' 'Ghaziabad' 'Greater Noida' 'Hapur' 'Kanpur' 'Lucknow'
 'Meerut' 'Moradabad' 'Muzaffarnagar' 'Noida' 'Varanasi' 'Asansol'
 'Howrah' 'Kolkata' 'Siliguri']
No of Station :: 214

In [84]:
print(" Different pollutants captured - {}".format(cleanDf["pollutant_id"].unique()))

 Different pollutants captured - ['PM2.5' 'PM10' 'NO2' 'NH3' 'SO2' 'CO' 'OZONE']

In [85]:
cleanDf.groupby(['pollutant_id', 'city'])['pollutant_min',	'pollutant_avg','pollutant_max'].sum()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                          pollutant_min  pollutant_avg  pollutant_max
pollutant_id city
CO           Agra                  12.0           35.0           87.0
             Ahmedabad              8.0           44.0          103.0
             Ajmer                  5.0           45.0           81.0
             Alwar                  4.0           63.0          108.0
             Amaravati             18.0           39.0           64.0
...                                 ...            ...            ...
SO2          Tirupati               4.0            7.0           10.0
             Udaipur                6.0           15.0           41.0
             Vatva                 12.0           25.0           45.0
             Vijayapura             1.0            3.0            5.0
             Yamunanagar            4.0           11.0          123.0

[732 rows x 3 columns]

In [86]:
cleanDf.groupby(['city','pollutant_id'])['pollutant_min',	'pollutant_avg','pollutant_max'].sum()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                          pollutant_min  pollutant_avg  pollutant_max
city        pollutant_id
Agra        CO                     12.0           35.0           87.0
            NO2                    25.0           54.0          116.0
            OZONE                  26.0          127.0          192.0
            PM2.5                  97.0          248.0          313.0
Ahmedabad   CO                      8.0           44.0          103.0
...                                 ...            ...            ...
Yamunanagar NO2                    16.0           58.0          107.0
            OZONE                   6.0           78.0          110.0
            PM10                   83.0          220.0          404.0
            PM2.5                  69.0          254.0          378.0
            SO2                     4.0           11.0          123.0

[732 rows x 3 columns]

In [121]:
# High Risk of Each Pollutant today

for singlePL in cleanDf['pollutant_id'].unique():
  print("For pollutant - {} ".format(singlePL))
  tempDF = cleanDf[(cleanDf["pollutant_id"]== singlePL)].sort_values('pollutant_avg', ascending=False).head(1).copy()
  print(" \t Place at risk - {}".format(tempDF[['state', 'city','station','pollutant_avg']].to_dict("records")[0]) )

For pollutant - PM2.5
 	 Place at risk - {'state': 'Uttar_Pradesh', 'city': 'Lucknow', 'station': 'Talkatora District Industries Center, Lucknow - CPCB', 'pollutant_avg': 334.0}
For pollutant - PM10
 	 Place at risk - {'state': 'Haryana', 'city': 'Ballabgarh', 'station': 'Nathu Colony, Ballabgarh - HSPCB', 'pollutant_avg': 299.0}
For pollutant - NO2
 	 Place at risk - {'state': 'Uttar_Pradesh', 'city': 'Meerut', 'station': 'Jai Bhim Nagar, Meerut - UPPCB', 'pollutant_avg': 183.0}
For pollutant - NH3
 	 Place at risk - {'state': 'Maharashtra', 'city': 'Nagpur', 'station': 'Opp GPO Civil Lines, Nagpur - MPCB', 'pollutant_avg': 59.0}
For pollutant - SO2
 	 Place at risk - {'state': 'Haryana', 'city': 'Jind', 'station': 'Police Lines, Jind - HSPCB', 'pollutant_avg': 80.0}
For pollutant - CO
 	 Place at risk - {'state': 'Delhi', 'city': 'Delhi', 'station': 'CRRI Mathura Road, Delhi - IMD', 'pollutant_avg': 185.0}
For pollutant - OZONE
 	 Place at risk - {'state': 'Haryana', 'city': 'Bhiwani', 'station': 'H.B. Colony, Bhiwani - HSPCB', 'pollutant_avg': 192.0}

In [122]:
# Historical High

for singlePL in cleanDf['pollutant_id'].unique():
  print("For pollutant - {} ".format(singlePL))
  tempDF = cleanDf[(cleanDf["pollutant_id"]== singlePL)].sort_values('pollutant_max', ascending=False).head(1).copy()
  print(" \t Place at risk - {}".format(tempDF[['state', 'city','station','pollutant_max']].to_dict("records")[0]) )

For pollutant - PM2.5
 	 Place at risk - {'state': 'Haryana', 'city': 'Gurugram', 'station': 'Vikas Sadan, Gurugram - HSPCB', 'pollutant_max': 446.0}
For pollutant - PM10
 	 Place at risk - {'state': 'Delhi', 'city': 'Delhi', 'station': 'Shadipur, Delhi - CPCB', 'pollutant_max': 500.0}
For pollutant - NO2
 	 Place at risk - {'state': 'Uttar_Pradesh', 'city': 'Meerut', 'station': 'Jai Bhim Nagar, Meerut - UPPCB', 'pollutant_max': 403.0}
For pollutant - NH3
 	 Place at risk - {'state': 'Maharashtra', 'city': 'Nagpur', 'station': 'Opp GPO Civil Lines, Nagpur - MPCB', 'pollutant_max': 84.0}
For pollutant - SO2
 	 Place at risk - {'state': 'Haryana', 'city': 'Rohtak', 'station': 'MD University, Rohtak - HSPCB', 'pollutant_max': 133.0}
For pollutant - CO
 	 Place at risk - {'state': 'Karnataka', 'city': 'Bengaluru', 'station': 'BWSSB Kadabesanahalli, Bengaluru - CPCB', 'pollutant_max': 196.0}
For pollutant - OZONE
 	 Place at risk - {'state': 'Delhi', 'city': 'Delhi', 'station': 'Sirifort, Delhi - CPCB', 'pollutant_max': 278.0}

In [123]:
# Low Risk of Each Pollutant today

for singlePL in cleanDf['pollutant_id'].unique():
  print("For pollutant - {} ".format(singlePL))
  tempDF = cleanDf[(cleanDf["pollutant_id"]== singlePL)].sort_values('pollutant_avg', ascending=True).head(1).copy()
  print(" \t Place at risk - {}".format(tempDF[['state', 'city','station','pollutant_avg']].to_dict("records")[0]) )

For pollutant - PM2.5
 	 Place at risk - {'state': 'Kerala', 'city': 'Eloor', 'station': 'Udyogamandal, Eloor - Kerala PCB', 'pollutant_avg': 6.0}
For pollutant - PM10
 	 Place at risk - {'state': 'Karnataka', 'city': 'Mysuru', 'station': 'Hebbal 1st Stage, Mysuru - KSPCB', 'pollutant_avg': 19.0}
For pollutant - NO2
 	 Place at risk - {'state': 'Maharashtra', 'city': 'Mumbai', 'station': 'Bandra, Mumbai - MPCB', 'pollutant_avg': 1.0}
For pollutant - NH3
 	 Place at risk - {'state': 'Karnataka', 'city': 'Yadgir', 'station': 'Collector Office, Yadgir - KSPCB', 'pollutant_avg': 1.0}
For pollutant - SO2
 	 Place at risk - {'state': 'Uttar_Pradesh', 'city': 'Ghaziabad', 'station': 'Sanjay Nagar, Ghaziabad - UPPCB', 'pollutant_avg': 1.0}
For pollutant - CO
 	 Place at risk - {'state': 'Gujarat', 'city': 'Vapi', 'station': 'Phase-1 GIDC, Vapi - GPCB', 'pollutant_avg': 3.0}
For pollutant - OZONE
 	 Place at risk - {'state': 'Gujarat', 'city': 'Vapi', 'station': 'Phase-1 GIDC, Vapi - GPCB', 'pollutant_avg': 2.0}

In [124]:
# Low Risk of Each Pollutant today

for singlePL in cleanDf['pollutant_id'].unique():
  print("For pollutant - {} ".format(singlePL))
  tempDF = cleanDf[(cleanDf["pollutant_id"]== singlePL)].sort_values('pollutant_max', ascending=True).head(1).copy()
  print(" \t Place at risk - {}".format(tempDF[['state', 'city','station','pollutant_max']].to_dict("records")[0]) )

For pollutant - PM2.5
 	 Place at risk - {'state': 'Kerala', 'city': 'Eloor', 'station': 'Udyogamandal, Eloor - Kerala PCB', 'pollutant_max': 9.0}
For pollutant - PM10
 	 Place at risk - {'state': 'Kerala', 'city': 'Kannur', 'station': 'Thavakkara, Kannur - Kerala PCB', 'pollutant_max': 26.0}
For pollutant - NO2
 	 Place at risk - {'state': 'Maharashtra', 'city': 'Mumbai', 'station': 'Bandra, Mumbai - MPCB', 'pollutant_max': 1.0}
For pollutant - NH3
 	 Place at risk - {'state': 'Maharashtra', 'city': 'Mumbai', 'station': 'Vasai West, Mumbai - MPCB', 'pollutant_max': 1.0}
For pollutant - SO2
 	 Place at risk - {'state': 'Telangana', 'city': 'Hyderabad', 'station': 'Central University, Hyderabad - TSPCB', 'pollutant_max': 3.0}
For pollutant - CO
 	 Place at risk - {'state': 'Gujarat', 'city': 'Vapi', 'station': 'Phase-1 GIDC, Vapi - GPCB', 'pollutant_max': 4.0}
For pollutant - OZONE
 	 Place at risk - {'state': 'Bihar', 'city': 'Hajipur', 'station': 'Industrial Area, Hajipur - BSPCB', 'pollutant_max': 2.0}

In [133]:
# searching a particular city

cleanDf[cleanDf.apply(lambda x: True if (x.city).lower().find("pur".lower()) >= 0 else False, axis=1)]

        id country          state  ... pollutant_max pollutant_avg pollutant_unit
20      47   India          Bihar  ...           7.0           5.0             NA
21      55   India          Bihar  ...          96.0          55.0             NA
22      57   India          Bihar  ...         316.0         256.0             NA
23      59   India          Bihar  ...          67.0          49.0             NA
24      61   India          Bihar  ...         111.0         106.0             NA
...    ...     ...            ...  ...           ...           ...            ...
1250  1251   India  Uttar_Pradesh  ...           2.0           2.0             NA
1251  1252   India  Uttar_Pradesh  ...         307.0         242.0             NA
1252  1253   India  Uttar_Pradesh  ...         258.0          77.0             NA
1253  1254   India  Uttar_Pradesh  ...          12.0           8.0             NA
1254  1255   India  Uttar_Pradesh  ...         122.0          75.0             NA

[135 rows x 11 columns]

In [113]:
def test():
    """Stupid test function"""
    L = [i for i in range(100)]

if __name__ == '__main__':
    import timeit
    print(timeit.timeit("test()", setup="from __main__ import test"))

4.81227668199972

In [24]:
airQualityRecords = []
for singleResponse in listOfRecords:
  airQualityRecords.extend(singleResponse["records"])
len(airQualityRecords)

1416

In [12]:
!pip install progressbar2

Requirement already satisfied: progressbar2 in /usr/local/lib/python3.6/dist-packages (3.38.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from progressbar2) (1.15.0)
Requirement already satisfied: python-utils>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from progressbar2) (2.4.0)

In [5]:
import time
import progressbar

for i in progressbar.progressbar(range(100)):
    time.sleep(0.02)

100% (100 of 100) |######################| Elapsed Time: 0:00:02 Time:  0:00:02

In [6]:
progressbar.streams.flush()

In [9]:
import time
import progressbar

bar = progressbar.ProgressBar(max_value=20-1)
for i in range(20):
    time.sleep(0.1)
    bar.update(i)

100% (19 of 19) |########################| Elapsed Time: 0:00:01 ETA:  00:00:00